.navbar__hamburger {
    width: 3rem;
    height: 2rem;
    @include flex-between-column;
    cursor: pointer;
    display: none;
    z-index: 99999;

    &.active {
        span {
            color: map-get($colors, "red-1") !important;
        }
    }

    span {
        width: 100%;
        height: 0.3rem;
        border-radius: 3rem;
        background-color: map-get($colors, "dark");
    }

    @include breakpoint(large) {
        display: flex;
    }
}
