.navbar__list {
    @include flex-between-row;
    z-index: 99999;
    @include transition-ease-in-out(right, 0.4s);

    @include breakpoint(large) {
        width: 40rem;
        height: 100vh;
        position: absolute;
        top: 0;
        right: -40rem;
        @include flex-center-column;
        background-color: map-get($colors, "green-2");

        &.active {
            right: 0;
        }
    }

    @include breakpoint(small) {
        right: -42rem;
    }

    svg {
        position: absolute;
        top: 2rem;
        left: 3rem;
        font-size: 5rem !important;
        color: white;
        cursor: pointer;
        @include transition-ease-in-out(color, 0.4s);

        &:hover {
            color: map-get($colors, "green-1");
        }
    }

    @include breakpoint(medium) {
        width: 100vw;
    }

    &__item {
        position: relative;
        margin-inline: 2rem;
        font-size: 1.7rem;
        font-weight: 900;

        @include breakpoint(large) {
            width: 100%;
            text-align: center;
            margin-block: 2.3rem;
            font-size: 2.5rem;
        }

        &__link {
            position: relative;
            font-size: inherit;
            font-weight: 500;
            text-transform: capitalize;
            color: map-get($colors, "green-1");
            @include transition-ease(all, 0.3s);

            &:hover {
                color: map-get($colors, "green-2");
            }

            @include breakpoint(large) {
                width: 100%;
                padding: 1rem;
                display: block;
                color: white;
                text-align: center;

                &:hover {
                    color: map-get($colors, "green-1");
                }
            }
        }
    }
}
