.app {
    width: 100vw;
    height: calc(100vh - 6rem);
    position: relative;
    top: 6rem;
    left: 0;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;

    &::-webkit-scrollbar {
        display: none;
    }

    & > section {
        width: 100vw;
        height: calc(100vh - 6rem);
        scroll-snap-align: start;
    }
}
