@import "../src/scss/index-all.scss";

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: $font-size-base;
}

::selection {
  background-color: map-get($colors, "green-2");
  color: white;
}

body {
  font-family: "Roboto", "Lato", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100% !important;
  max-height: 100% !important;
  object-fit: cover !important;
}

a {
  text-decoration: none !important;
}

.container {
  height: 100%;
  padding-inline: 1.8rem;
  margin-left: auto;
  margin-right: auto;
}

/* * Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* * Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* * Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
